@{
    ViewBag.Title = "About";
}

<br />
<center>
    <h1>About</h1>
</center>
<br />

<h3>
    For Your Animals is in application to help animal owners keep track of appointment dates and reminders for
    animals and services to all types of animals. You can add your animals to your personal profile to track
    and maintain their health records. You can also access a list of clinics and register your animal for
    appointments/services provided through the clinics.
</h3>
<br />
<a href="https://localhost:44381/Home/" class="btn btn-light">Back Home</a>
<br />
