@{
    ViewBag.Title = "Home Page";
}

<body>

    <div>

        <center>
            <img src="~/Content/Images/FYP.png" width="400" height="210" />
        </center>
        <br />
        <center>
            <a href="https://localhost:44381/Home/About" class="btn btn-default btn-lg">About Us</a>
        </center>
        <br />
        @if (User.Identity.IsAuthenticated)
        {

            <center>
                <p>
                    <a href="https://localhost:44381/Animal" class="btn btn-warning btn-lg">Your Animals</a>
                    <a href="https://localhost:44381/HealthRecord" class="btn btn-warning btn-lg">View Health Records</a>
                    <a href="https://localhost:44381/Registry" class="btn btn-warning btn-lg">Upcoming Appointments</a>
                </p>
            </center>
        }

        <img class="livestock" src="~/Content/Images/livestock.jpg" width="1000" height="210" />
        <br />



    </div>

</body>
