<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4de0ca62-613f-44d4-bab9-04876ed3869d/resourcegroups/AnimalServicesMVC_RG/providers/Microsoft.Web/sites/AnimalServicesMVC</ResourceId>
    <ResourceGroup>AnimalServicesMVC_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://animalservicesmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>animalservicesmvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AnimalServicesMVC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$AnimalServicesMVC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AnimalServices.Data.ApplicationDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:animalservicesdbserver.database.windows.net,1433;Initial Catalog=AnimalServices.MVC_db;User ID=LCounterman@animalservicesdbserver;Password=Counterman00" Name="Data Source=tcp:animalservicesdbserver.database.windows.net,1433;Initial Catalog=AnimalServices.MVC_db;User Id=LCounterman@animalservicesdbserver;Password=Counterman00" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AnimalServices.Data.ApplicationDbContext, AnimalServices.Data" MigrationConfiguration="AnimalServices.Data.Migrations.Configuration, AnimalServices.Data" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:animalservicesdbserver.database.windows.net,1433;Initial Catalog=AnimalServices.MVC_db;User Id=LCounterman@animalservicesdbserver;Password=Counterman00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:animalservicesdbserver.database.windows.net,1433;Initial Catalog=AnimalServices.MVC_db;User Id=LCounterman@animalservicesdbserver;Password=Counterman00;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AnimalServices.Data.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:animalservicesdbserver.database.windows.net,1433;Initial Catalog=AnimalServices.MVC_db;User Id=LCounterman@animalservicesdbserver;Password=Counterman00</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AnimalServices.Data.ApplicationDbContext" />
  </ItemGroup>
</Project>